/* Main CSS for JS6 Hide a Form
*/
body {
	font-family: arial;
	font-size: 12pt;
	padding-left: 3em;
}
form {
	border: .1em solid red;
	margin: 1em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 1em;
}
form input {
	display: inline-block;
	width: 20em;
	margin: .1em;
	padding-top:.2em;
	padding-left: 2em;
}
form .submit_button {
	margin-left:5em;
	background-color: palegreen;
}
.button_show {
	background-color: yellow;
	text-align: center;
	width: 9em;
	height: 3em;
}

.button_hide {
	background-color: red;
}
.form_toggle {
	display: none;
}
.form_pair p {
	display: inline-block;
	border: 1px solid gray;
	/*position:absolute;*/
	padding-left: 10px;
	margin-left: 10px;
	width: 30em;
	min-height: 1emx;
}
.form_pair .title {
	display: inline-block;
	width:  10em;
	height: 1em;
	/*float:left;*/
	/*border:1px solid black;*/
}